<launch>

<rosparam file="$(find assembly_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="assembly" args="Rev15_position_controller Rev16_position_controller Rev17_position_controller Rev18_position_controller Rev19_position_controller Rev20_position_controller Rev21_position_controller Rev22_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/assembly/joint_states"/>
</node>

</launch>